body{
    background: yellow;
   

}
@media screen and (min-width: 400px){
    body{
        background: blue;
    }
    .container div{
        background-color: red;
        margin-top: 5px;
        width: 48%;
        float: left;
        margin-left: 1%;
        
    }

}

.container{
    background-color: white;
    padding: 15px;
    gap: 2px;
}
.container div{
    background-color: red;
    margin-top: 5px;
    height: 150px;
    
    
}
.clearflix:after{
    content:' ';
    display: block;
    /* Todo elemento vai ser empurrado para baixo dele se tiver um float: left; */
    clear: both
}